// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";



body {
    background-color: #f1e5e6 !important;
  }
  
  .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfile + label {
    max-width: 50%;
    font-size: 1.1rem;
    /* 20px */
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
  
    /* 10px 20px */
  }
  
  .btnpdf {
    max-width: 50%;
    font-size: 1rem;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }
  
  .no-js .inputfile + label {
    display: block;
  }
  
  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
  }
  
  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }
  
  /* style 1 */
  
  .inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
  }
  
  .inputfile-1:focus + label,
  .inputfile-1.has-focus + label,
  .inputfile-1 + label:hover {
    background-color: #722040;
  }
  
  a {
    outline: none;
    color: #d3394c;
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: #722040;
  }
  
  .hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  
  /* Content */
  
  .box {
    background-color: #dfc8ca;
    padding: 6.25rem 1.25rem;
  }
  
  #boxes {
    // background: #fff; /* To avoid a black background in PDF */
  }
  
  .downcol {
    background-color: #faebd7 !important;
  }
  
  .image-container {
    max-width: 100px;
  }
  .image-container div {
    float: left;
    width: 110px;
    height: 110px;
    margin: 3px;
    padding: 3px;
    border: black 2px solid;
  }
  